body {
    background: var(--light-bg);
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
}

/* #root {
    background: var(--light-bg);
} */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 0;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--black);
}

header .link {
    color: var(--black);
    padding: 0;
    background: none;
    font-size: 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
}

header .link svg {
    margin-right: 5px;
    transition: all 0.3s;
    margin-top: 1px;
}

header .link:hover {
    transform: scale(1);
    box-shadow: none;
}

header .link:hover svg {
    transform: translateX(-5px);
}

.event_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-event {
    background: var(--white);
    padding: 50px 80px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.group-form {
    margin-bottom: 20px;
}

.group-form textarea {
    width: 400px;
    height: 120px;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    padding: 10px;
    border: 1px solid var(--gray-color-light);
    border-radius: 5px;
}
.group-form input::before {
    content: "Select your picture";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    /* border: 1px solid #999; */
    /*border-radius: 3px; */
    padding: 11px 8px 9px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 100%;
    background: #fff;
    text-align: center;
    margin-left: -9px;
}

.group-form input::-webkit-file-upload-button {
    visibility: hidden;
}
.group-form input:hover::before {
    border-color: black;
}
.group-form input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

form button {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: var(--main-color-light);
    color: var(--white);
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 15px;
}
